.big-carousel-container {
  overflow: hidden;
  height: 65vh;
  width: auto;
  margin-top: 28px;
}

movie-slider {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

movie-slider:not(.react-multi-carousel-item--active) {
  opacity: 0.5;
}

/*모바일 세로*/
@media (max-width: 480px) {
  .movie-slider-title {
    font-size: 30px;
    margin-left: 20px !important;
    margin-bottom: 0px;
  }
}
