/*각 카드에 마우스 올려서 콘텐츠가 보일 때 카드 안에 내용이 모두 보여지도록 설정*/
.carousel-container {
  overflow: hidden;
  height: 380px;
}

/*강의에서 나온 코드지만 사용하지 않아 코멘트*/
/* @media (max-width: 400px) {
  .carousel-container {
    height: 330px;
    display: flex;
    justify-content: space-between;
  }
} */

/*모바일 세로*/
@media (max-width: 480px) {
  .movie-slider-title {
    font-size: 30px;
    margin-left: 20px !important;
    padding-bottom: 18px;
  }
}
